[global_config]
[keybindings]
[profiles]
  [[default]]
    background_color = "#1a1a1a"
    background_darkness = 0.85
    background_type = transparent
    cursor_shape = ibeam
    cursor_color = "#f6f7ec"
    font = Roboto Mono Light for Powerline Bold Italic 11
    foreground_color = "#fffefe"
    scrollback_infinite = True
    palette = "#121212:#fa2934:#98e123:#fff30a:#0443ff:#f800f8:#01b6ed:#ffffff:#838383:#f6669d:#b1e05f:#fff26d:#0443ff:#f200f6:#51ceff:#ffffff"
    use_system_font = False
    copy_on_selection = True
  [[ayu]]
    background_color = "#0f1419"
    background_darkness = 0.85
    background_type = transparent
    cursor_shape = ibeam
    cursor_color = "#f29718"
    font = Roboto Mono Light for Powerline Bold Italic 11
    foreground_color = "#e6e1cf"
    scrollback_infinite = True
    palette = "#000000:#ff3333:#b8cc52:#e7c547:#36a3d9:#f07178:#95e6cb:#ffffff:#323232:#ff6565:#eafe84:#fff779:#68d5ff:#ffa3aa:#c7fffd:#ffffff"
    use_system_font = False
    copy_on_selection = True
  [[Cobalt2]]
    background_color = "#132738"
    background_darkness = 0.85
    background_type = transparent
    cursor_shape = ibeam
    cursor_color = "#f0cc09"
    font = Roboto Mono Light for Powerline Bold Italic 11
    foreground_color = "#ffffff"
    scrollback_infinite = True
    palette = "#000000:#ff0000:#38de21:#ffe50a:#1460d2:#ff005d:#00bbbb:#bbbbbb:#555555:#f40e17:#3bd01d:#edc809:#5555ff:#ff55ff:#6ae3fa:#ffffff"
    use_system_font = False
    copy_on_selection = True
  [[cyberpunk]]
    background_color = "#332a57"
    background_darkness = 0.85
    background_type = transparent
    cursor_shape = ibeam
    cursor_color = "#21f6bc"
    font = Roboto Mono Light for Powerline Bold Italic 11
    foreground_color = "#e5e5e5"
    scrollback_infinite = True
    palette = "#000000:#ff7092:#00fbac:#fffa6a:#00bfff:#df95ff:#86cbfe:#ffffff:#000000:#ff8aa4:#21f6bc:#fff787:#1bccfd:#e6aefe:#99d6fc:#ffffff"
    use_system_font = False
    copy_on_selection = True
  [[Dark+]]
    background_color = "#0e0e0e"
    background_darkness = 0.85
    background_type = transparent
    cursor_shape = ibeam
    cursor_color = "#ffffff"
    font = Roboto Mono Light for Powerline Bold Italic 11
    foreground_color = "#cccccc"
    scrollback_infinite = True
    palette = "#000000:#cd3131:#0dbc79:#e5e510:#2472c8:#bc3fbc:#11a8cd:#e5e5e5:#666666:#f14c4c:#23d18b:#f5f543:#3b8eea:#d670d6:#29b8db:#e5e5e5"
    use_system_font = False
    copy_on_selection = True
  [[Dark Pastel]]
    background_darkness = 0.85
    background_type = transparent
    cursor_shape = ibeam
    cursor_color = "#bbbbbb"
    font = Roboto Mono Light for Powerline Bold Italic 11
    foreground_color = "#ffffff"
    scrollback_infinite = True
    palette = "#000000:#ff5555:#55ff55:#ffff55:#5555ff:#ff55ff:#55ffff:#bbbbbb:#555555:#ff5555:#55ff55:#ffff55:#5555ff:#ff55ff:#55ffff:#ffffff"
    use_system_font = False
    copy_on_selection = True
  [[deep]]
    background_color = "#090909"
    background_darkness = 0.85
    background_type = transparent
    cursor_shape = ibeam
    cursor_color = "#d0d0d0"
    font = Roboto Mono Light for Powerline Bold Italic 11
    foreground_color = "#cdcdcd"
    scrollback_infinite = True
    palette = "#000000:#d70005:#1cd915:#d9bd26:#5665ff:#b052da:#50d2da:#e0e0e0:#535353:#fb0007:#22ff18:#fedc2b:#9fa9ff:#e09aff:#8df9ff:#ffffff"
    use_system_font = False
    copy_on_selection = True
  [[Dracula]]
    background_color = "#1e1f29"
    background_darkness = 0.85
    background_type = transparent
    cursor_shape = ibeam
    cursor_color = "#bbbbbb"
    font = Roboto Mono Light for Powerline Bold Italic 11
    foreground_color = "#f8f8f2"
    scrollback_infinite = True
    palette = "#000000:#ff5555:#50fa7b:#f1fa8c:#bd93f9:#ff79c6:#8be9fd:#bbbbbb:#555555:#ff5555:#50fa7b:#f1fa8c:#bd93f9:#ff79c6:#8be9fd:#ffffff"
    use_system_font = False
    copy_on_selection = True
  [[Duotone Dark]]
    background_color = "#1f1d27"
    background_darkness = 0.85
    background_type = transparent
    cursor_shape = ibeam
    cursor_color = "#ff9839"
    font = Roboto Mono Light for Powerline Bold Italic 11
    foreground_color = "#b7a1ff"
    scrollback_infinite = True
    palette = "#1f1d27:#d9393e:#2dcd73:#d9b76e:#ffc284:#de8d40:#2488ff:#b7a1ff:#353147:#d9393e:#2dcd73:#d9b76e:#ffc284:#de8d40:#2488ff:#eae5ff"
    use_system_font = False
    copy_on_selection = True
  [[3024 Night]]
    background_color = "#090300"
    background_darkness = 0.85
    background_type = transparent
    cursor_shape = ibeam
    cursor_color = "#a5a2a2"
    font = Roboto Mono Light for Powerline Bold Italic 11
    foreground_color = "#a5a2a2"
    scrollback_infinite = True
    palette = "#090300:#db2d20:#01a252:#fded02:#01a0e4:#a16a94:#b5e4f4:#a5a2a2:#5c5855:#e8bbd0:#3a3432:#4a4543:#807d7c:#d6d5d4:#cdab53:#f7f7f7"
    use_system_font = False
    copy_on_selection = True
  [[Monokai Vivid]]
    background_color = "#1a1a1a"
    background_darkness = 0.85
    background_type = transparent
    cursor_shape = ibeam
    cursor_color = "#f6f7ec"
    font = Roboto Mono Light for Powerline Bold Italic 11
    foreground_color = "#fffefe"
    scrollback_infinite = True
    palette = "#121212:#fa2934:#98e123:#fff30a:#0443ff:#f800f8:#01b6ed:#ffffff:#838383:#f6669d:#b1e05f:#fff26d:#0443ff:#f200f6:#51ceff:#ffffff"
    use_system_font = False
    copy_on_selection = True
  [[Monokai Remastered]]
    background_color = "#0c0c0c"
    background_darkness = 0.85
    background_type = transparent
    cursor_shape = ibeam
    cursor_color = "#fc971f"
    font = Roboto Mono Light for Powerline Bold Italic 11
    foreground_color = "#d9d9d9"
    scrollback_infinite = True
    palette = "#1a1a1a:#f4005f:#98e024:#fd971f:#9d65ff:#f4005f:#58d1eb:#c4c5b5:#625e4c:#f4005f:#98e024:#e0d561:#9d65ff:#f4005f:#58d1eb:#f6f6ef"
    use_system_font = False
    copy_on_selection = True
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
